header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
}

nav{
  padding-right: 20px;
}

nav a{
  color:black;
}

header li {
  display: inline-block;
  margin: 0 10px;
}

.logo {
  display: flex;
  align-items: center;
  color: MediumAquamarine;
  margin: 5px 10px;
}
